*
{
	padding: 0;
	margin: 0;
}

/*.row.fix{ display: flex, flex-wrap: wrap; }*/

.resPic
{
	min-height: 100%;
	background: url('images/imgUnavailable.png') center no-repeat;
	background-size: contain ;

}

.profilePic
{
	min-height: 100%;
	background: url('images/imgEmptyProfile.png') no-repeat;
	background-size: contain ;

}

.stars
{
	background: url('images/img5stars.png') no-repeat;
	background-size: contain ;
	height: 20px;

}

#formRating
{
	/*display: none;*/
	position: absolute;
}